{
    "extends": [
      "twilio-ts"
    ],
    "rules": {
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/no-use-before-define": "off",
      "prefer-promise-reject-errors": "off"
    }
  }